
<alert type="info" dismissible="true">ng2-bootstrap hello world!</alert>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form class="form form-horizontal" role="form">
                <h2>ACE Settings</h2>

                <div class="form-group">
                    <p class="col-sm-offset-2 col-sm-10 help-block">Select a theme for ace editor</p>
                    <label for="theme" class="col-sm-2 control-label">theme: </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="theme" [(ngModel)]="theme" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let _theme of themes | enumKeys" [value]="_theme">{{_theme}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-sm-offset-2 col-sm-10 help-block">Street address, P.O. box, company name, c/o</p>
                    <label for="mode" class="col-sm-2 control-label">mode: </label>
                    <div class="col-sm-10">
                        <select class="form-control" id="mode" [(ngModel)]="mode" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let _mode of modes | enumKeys" [value]="_mode">{{_mode}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-sm-offset-2 col-sm-10 help-block">This is content of ace code</p>
                    <label for="text" class="col-sm-2 control-label">text:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="text" cols="30" rows="10" [(ngModel)]="text" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div>
    <label for="autoUpdateContent">
        <input type="checkbox" id="autoUpdateContent" [(ngModel)]="autoUpdateContent"> auto update content
    </label>
</div>

<div>
    <label for="gutter">
        <input type="checkbox" id="gutter" [(ngModel)]="gutter"> show the gutter
    </label>
</div>

<button (click)="insertCode()">Insert Custom Code</button>

{{cursor | json}}

<hr/>

<pre fountain-editor class="code-editor"
     [mode]="mode"
     [theme]="theme"
     [gutter]="gutter"
     [read-only]="readOnly"
     [resize]="resize"
     [auto-update-content]="autoUpdateContent"
     [(cursor)]="cursor"
     [(ace-editor)]="aceEditor"
     [text]="text"
     (text-change)="onTextChange($event)"
>
</pre>

